# Игнорируем папки с кэшем Python
__pycache__/
*.pyc

# Игнорируем виртуальные окружения
venv/
.venv/

# Игнорируем файлы баз данных
*.db
*.sqlite3

# Игнорируем файлы, специфичные для IDE
.idea/
.vscode/